@media (max-width: 1200px) {

    .container-limiting-header {
        padding: 3rem;
    }

    /*==================== *main* Block-Our-friends ====================*/

    .container-limiting-our-friends {
        height: 173.3rem;
        padding: 6rem 3rem 0;
    }

    .title-our-friends {
        margin: 2rem 0 3rem;
    }

    .box-inner-our-friends {
        padding: 0;

        max-width: 58rem;
        height: 136.5rem;
        margin: 0 auto;

    }

    .card-pet:nth-child(7) {
        display: none;
    }

    .card-pet:last-child {
        display: none;
    }

    .nav-our-friends {
        margin: 4rem auto 0;
    }

    /*==================== footer ===================*/

    .container-footer {
        height: 63.9rem;
        padding: 3rem 3rem 0;
    }

    .box-inner-footer {
        flex-direction: column;
        justify-content: space-between;
    }

    .box-content-footer {
        display: flex;
        justify-content: space-around;
        column-gap: 0;

        margin: 0 auto;
        width: 100%;
    }

    .box-contact-footer {
        margin-top: 0;
    }

    .box-address-footer {
        margin-top: 0;
    }

    .img-footer {
        margin: 0 auto;
    }
}