@media (max-width: 1200px) {
    .container-not-only {
        height: 116.5rem;
        padding: 3rem 3rem 0;
    }

    .box-not-only {
        display: flex;
        flex-direction: column;
    }

    .box-description-not-only {
        flex-direction: column;
        margin: 0 auto;
    }

    .link-not-only {
        margin: 0 auto;
    }

    .img-dog {
        max-width: 56.9rem;
        margin-top: 10rem;
        align-self: flex-end;
    }

    .img-dog>img {
        width: 100%;
    }

    /*=======================About the shelter=========================*/

    .container-about-the-shelter {
        height: 104.8rem;

        margin: 0 auto;
        padding: 8rem 16.5rem;
    }

    .box-inner-about-the-shelter {
        flex-direction: column-reverse;
    }

    .img-about-the-shelter {
        width: 30rem;
        height: 40.8rem;

        margin: 8rem auto 0;
    }

    .img-about-the-shelter>img {
        width: 100%;
    }

    /*======================= Our friends =========================*/

    .container-our-pets {
        height: 87.7rem;

        margin: 0 auto;
        padding: 8rem 3rem 0;
    }

    .box-slider {
        column-gap: 4rem;
    }

    .card-pet:nth-child(3) {
        display: none;
    }

    /*===================== block-help ====================*/

    .container-help {
        height: 77.9rem;
        padding: 8rem 6.9rem 0;
    }

    .box-inner-help {
        column-gap: 6rem;
        margin: 6rem auto 0;

        height: 44.9rem;
        max-width: 65rem;
    }

    .item-help {
        width: 17rem;
        height: 11.3rem;
    }

    /*==================== block-donation ===================*/

    .container-donation {
        height: 78.3rem;
        padding: 8rem 13.1rem;
    }

    .box-inner-donation {
        flex-direction: column-reverse;
        row-gap: 6rem;
    }

    /*==================== footer ===================*/

    .container-footer {
        height: 63.9rem;
        padding: 3rem 3rem 0;
    }

    .box-inner-footer {
        flex-direction: column;
        justify-content: space-between;
    }

    .box-content-footer {
        display: flex;
        justify-content: space-around;
        column-gap: 0;

        margin: 0 auto;
        width: 100%;
    }

    .box-contact-footer {
        margin-top: 0;
    }

    .box-address-footer {
        margin-top: 0;
    }

    .img-footer {
        margin: 0 auto;
    }
}