/*=============== adaptive 768 > 1200===============*/

@media (max-width: 1200px) {
    .container-not-only {
        height: 116.5rem;
        padding: 3rem 3rem 0;
    }

    .box-not-only {
        display: flex;
        flex-direction: column;
    }

    .box-description-not-only {
        flex-direction: column;
        margin: 0 auto;
    }

    .link-not-only {
        margin: 0 auto;
    }

    .img-dog {
        max-width: 56.9rem;
        margin-top: 10rem;
        align-self: flex-end;
    }

    .img-dog>img {
        width: 100%;
    }

    /*=======================About the shelter=========================*/

    .container-about-the-shelter {
        height: 104.8rem;

        margin: 0 auto;
        padding: 8rem 16.5rem;
    }

    .box-inner-about-the-shelter {
        flex-direction: column-reverse;
    }

    .img-about-the-shelter {
        width: 30rem;
        height: 40.8rem;

        margin: 8rem auto 0;
    }

    .img-about-the-shelter>img {
        width: 100%;
    }

    /*======================= Our friends =========================*/
    .block-our-friends {
        padding: 8rem 3rem 10rem;
    }

    .window-carusel {
        max-width: 58rem;
    }

    .lenta {
        left: -58rem;
    }


    @keyframes move-left {
        0% {
            left: -58rem;
        }

        100% {
            left: 0;
        }
    }

    @keyframes move-right {
        0% {
            left: -58rem;
        }

        100% {
            left: -116rem;
        }
    }

    .flip-through-left {
        animation: move-left 0.5s linear;
    }

    .flip-through-right {
        animation: move-right 0.5s linear;
    }

    .block-left,
    .block-active,
    .block-right {
        column-gap: 4rem;
    }

    .card:last-child {
        display: none;
    }

    /* popup */

    .center-window-close {
        width: 68.2rem;
        height: 40.2rem;
    }

    .popup-inner {
        position: fixed;
        top: 54%;
        left: 48%;

        width: 63rem;
        height: 35rem;
    }

    .box-img {
        width: 35rem;
    }

    .box-description {
        width: 26rem;
        margin: 1rem 0 0 1rem;
    }

    .text-description {
        font-size: 1.3rem;
        line-height: 130%;
        margin: 2rem 0;
    }

    /*===================== block-help ====================*/

    .block-help {
        width: 100%;
        background-color: #FFFFFF;
    }

    .container-help {
        max-width: 128rem;
        height: 61.1rem;

        margin: 0 auto;
        padding: 8rem 4rem 0;
    }

    .title-help {
        font-family: var(--font-title);
        font-size: 3.5rem;
        text-align: center;
        line-height: 130%;
        letter-spacing: 0.06em;

        margin-bottom: 6rem;
        color: #545454;
    }

    .box-inner-help {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        row-gap: 5rem;
        column-gap: 12rem;

        height: 28.1rem;
    }

    .item-help {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .text-help {
        font-family: var(--font-title);
        font-size: 2rem;
        letter-spacing: 0.06em;

        margin-top: 3rem;
        color: #545454;
    }


    /*===================== block-help ====================*/

    .container-help {
        height: 77.9rem;
        padding: 8rem 6.9rem 0;
    }

    .box-inner-help {
        column-gap: 6rem;
        margin: 6rem auto 0;

        height: 44.9rem;
        max-width: 65rem;
    }

    .item-help {
        width: 17rem;
        height: 11.3rem;
    }

    /*==================== block-donation ===================*/

    .container-donation {
        height: 78.3rem;
        padding: 8rem 13.1rem;
    }

    .box-inner-donation {
        flex-direction: column-reverse;
        row-gap: 6rem;
    }

    /*==================== footer ===================*/

    .container-footer {
        height: 63.9rem;
        padding: 3rem 3rem 0;
    }

    .box-inner-footer {
        flex-direction: column;
        justify-content: space-between;
    }

    .box-content-footer {
        display: flex;
        justify-content: space-around;
        column-gap: 0;

        margin: 0 auto;
        width: 100%;
    }

    .box-contact-footer {
        margin-top: 0;
    }

    .box-address-footer {
        margin-top: 0;
    }

    .img-footer {
        margin: 0 auto;
    }
}

/*=================================================*/
/*=============== adaptive 320 > 768===============*/
/*=================================================*/

@media (max-width: 767px) {

    .container-not-only {
        height: 82.3rem;
        padding: 3rem 1rem 0;
    }

    .heared-not-only {
        width: 86%;
    }

    .nav-item {
        font-size: 32px;
        letter-spacing: 0.02em;
    }

    /*--------------------------------------------*/

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;

        width: 3rem;
        height: 2.2rem;

        background-color: transparent;
        transition: all 0.4s linear;
        z-index: 5;
    }

    .item-burger {
        width: 3rem;
        height: 2px;
        background-color: var(--color-main);
    }

    /* ------------------------------------------ */
    .box-not-only {
        height: 85%;
    }

    .box-description-not-only {
        margin-top: 0;
    }

    .title-not-only {
        font-size: 2.5rem;
        text-align: center;
        letter-spacing: 0.06em;
    }

    .text-not-only {
        text-align: center;
    }

    .img-dog {
        width: 26rem;
    }

    /*=======================About the shelter=========================*/

    .container-about-the-shelter {
        height: 97.4rem;
        padding: 4.2rem 1rem;
    }

    .box-inner-about-the-shelter {
        height: 89rem;
    }

    .box-description-about-the-shelter {
        row-gap: 2.3rem;
    }

    .title-about-the-shelter {
        font-size: 2.5rem;
        text-align: center;
    }

    .text-about-the-shelter {
        text-align: justify;
        padding: 0 1.5rem;
    }

    .img-about-the-shelter {
        width: 26rem;
        margin: 15.5rem auto 0;
    }

    /*======================= Our friends =========================*/
    .block-our-friends {
        padding: 4.2rem 1rem;
    }

    .title-our-friends {
        font-size: 2.5rem;
    }

    .block-carusel {
        position: relative;
        justify-content: center;
        height: 50.7rem;
        margin: 4.2rem 0;
    }

    .window-carusel {
        display: flex;
        align-self: start;

        max-width: 27rem;
    }

    .lenta {
        left: -27rem;
    }

    @keyframes move-left {
        0% {
            left: -27rem;
        }

        100% {
            left: 0;
        }
    }

    @keyframes move-right {
        0% {
            left: -27rem;
        }

        100% {
            left: -54rem;
        }
    }

    .flip-through-left {
        animation: move-left 0.5s linear;
    }

    .flip-through-right {
        animation: move-right 0.5s linear;
    }


    .card:nth-child(2),
    .card:last-child {
        display: none;
    }

    .arrow-left {
        position: absolute;
        bottom: 0;
        left: 6rem;

    }

    .arrow-right {
        position: absolute;
        bottom: 0;
        right: 6rem;
    }

    /* popup  */


    .center-window-close {
        width: 32rem;
        height: 39rem;
    }


    .popup-inner {
        top: 54%;
        left: 48.8%;
        width: 24rem;
        height: 34.1rem;
    }

    .box-img {
        display: none;
    }

    .box-description {
        width: 35rem;
        margin: 1rem;
    }


    .title-description {
        text-align: center;
    }

    .subtitle-description {
        text-align: center
    }

    .text-description {
        text-align: justify;
    }

    .list-description {
        row-gap: 0.5rem;
    }

    .item-description {
        font-family: var(--font-title);
        font-weight: 600;
        font-size: 1.5rem;
        color: #000000;
    }

    .item-description>span {
        font-family: var(--font-title);
        font-weight: 400;
        font-size: 1.5rem;
        color: #000000;
    }

    /*===================== block-help ====================*/

    .container-help {
        height: 100%;
        padding: 4.2rem 1.5rem;
    }

    .title-help {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 4.2rem;
    }

    .box-inner-help {
        gap: 3rem;
        margin-top: 0;
        height: 100%;
        max-width: 55rem;
    }

    .item-help {
        width: 13rem;
        height: 8.7rem;
    }

    .item-help>img {
        width: 5rem;
    }

    .text-help {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    /*==================== block-donation ===================*/

    .container-donation {
        height: 100%;
        padding: 4.2rem 1rem;
    }

    .box-inner-donation {
        row-gap: 3.7rem;
    }

    .description-donation {
        row-gap: 2.3rem;
        padding: 0 1rem;
    }

    .title-donation {
        font-size: 2.5rem;
        text-align: center;
        line-height: 127%;
    }

    .subtitle-donation {
        letter-spacing: 0;
        text-align: center;
    }

    .bank-account-donation {
        width: 28rem;
        margin: 0 auto;
    }

    .account-donation {
        font-size: 1.5rem;
    }

    .text-donation {
        text-align: justify;
    }

    .img-donation {
        width: 27rem;
    }

    .img-donation>img {
        width: 100%;
    }

    /*==================== footer ===================*/

    .container-footer {
        height: 100%;
        padding: 3rem 1rem 0;
    }

    .box-inner-footer {
        row-gap: 2.8rem;
    }

    .box-content-footer {
        flex-direction: column;
        column-gap: 0rem;
        row-gap: 1.2rem;
    }

    .box-contact-footer {
        margin: 0 auto;
    }

    .contact-title-footer {
        font-size: 2.5rem;
        text-align: center;
        width: 27rem;
        margin: 0 auto;
    }

    .contact-footer {
        text-align: center;
    }

    /*----------------------------------*/
    .box-address-footer {
        margin: 0 auto;
        row-gap: 4rem;
    }

    .address-title-footer {
        font-size: 2.5rem;
        text-align: center;
        width: 27rem;
        margin: 0 auto;
    }

    .img-footer {
        width: 26rem;
        margin: 0 auto;
    }

    .img-footer>img {
        width: 100%;
    }

    /*-----------------------------------*/
    /*-------------------JS--------------*/
    /*-----------------------------------*/

    body.active {
        overflow: hidden;
    }

    .burger.active {
        transform: rotate(-90deg);
        position: absolute;
        top: 50px;
        right: 51px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 3rem;

        position: fixed;
        top: 0;
        right: -32rem;
        z-index: 3;

        width: 32rem;
        height: 100vh;

        background-color: #292929;
        opacity: 0;
        transition: all 0.4s linear;
    }

    .nav.active {
        right: 0;
        opacity: 1;
    }

    .background {
        display: block;

        position: fixed;
        top: 0;
        right: -100vw;
        z-index: 2;

        width: 100vw;
        height: 100vh;

        background-color: rgba(0, 0, 0, 0.8);
        transition: all 0.3s linear;
    }

    .background.active {
        right: 0;
    }

    .box-logo.copy {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 6rem;

        position: absolute;
        top: 30px;
        left: 10px;
        transition: all 0.6s linear;
    }

    .box-logo.active {
        opacity: 0;
        transition: all 0.3s linear;
    }
}