:root {
    --color-main: #F1CDB3;
    --font-title: Georgia, 'Times New Roman', Times, serif;
    --font-text: Arial, Helvetica, sans-serif;
}

/*--------------------------------------------------------*/
.block-not-only {
    width: 100%;
    background: radial-gradient(100% 215.42% at 0% 0%,
            #5B483A 0%, #262425 100%);
}

.container-not-only {
    max-width: 128rem;
    height: 90.8rem;

    margin: 0 auto;
    padding: 6rem 4rem 0;
}

.heared-not-only {
    width: 100%;
    height: 6rem;

    display: flex;
    justify-content: space-between;
}

.box-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-logo {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.title-logo>a {
    color: var(--color-main);
}

.subtitle-logo {
    font-family: var(--font-text);
    font-size: 1.3rem;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}

.nav {
    display: flex;
    align-items: center;
    column-gap: 3.6rem;
}

.nav-item {
    font-family: var(--font-text);
    font-weight: 400;
    line-height: 160%;
    font-size: 1.5rem;

    border-bottom: 3px solid transparent;
    transition: all 0.4s linear;
}

.nav-item:first-child {
    border-bottom: 3px solid var(--color-main);
}

.nav-item:hover {
    border-bottom: 3px solid var(--color-main);
}

.nav-item-link {
    color: #CDCDCD;
}

/* ------------------------------------------ */
.conainer-not-only {
    display: flex;
    justify-content: space-between;

    margin-top: 6rem;
}

.box-description-not-only {
    display: flex;
    flex-direction: column;
    row-gap: 4.2rem;

    max-width: 46rem;
    max-height: 32rem;
    margin-top: 16.5rem;
}

.title-not-only {
    font-family: var(--font-title);
    font-size: 4.4rem;
    line-height: 130%;

    color: #FFFFFF;
}

.text-not-only {
    font-family: var(--font-text);
    font-size: 1.5rem;
    line-height: 160%;

    color: #CDCDCD;
}

.link-not-only {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20.8rem;
    height: 5.2rem;


    background: var(--color-main);
    color: #292929;
    border-radius: 3rem;

    font-family: var(--font-title);
    font-size: 1.7rem;
    letter-spacing: 0.06em;
}

.link-not-only:hover {
    background: #FDDCC4;
    transition: all 0.2s linear;
}

/*=======================About the shelter=========================*/

.block-about-the-shelter {
    width: 100%;
    background: #FFFFFF;
}

.container-about-the-shelter {
    max-width: 128rem;
    height: 58.8rem;

    margin: 0 auto;
    padding: 8rem 4rem;
}

.box-inner-about-the-shelter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12rem;
    flex: 0 0 100%;
}

.box-description-about-the-shelter {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;

    max-width: 43rem;
    max-height: 38rem;
}

.title-about-the-shelter {
    font-family: var(--font-title);
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: #545454;
}

.text-about-the-shelter {
    font-family: var(--font-text);
    font-size: 1.5rem;
    line-height: 160%;

    color: #4C4C4C;
}

/*======================= Our friends =========================*/

.block-our-friends {
    width: 100%;
    background: #F6F6F6;
}

.container-our-pets {
    max-width: 128rem;
    height: 87.7rem;

    margin: 0 auto;
    padding: 8rem 4rem 0;
}

.title-our-pets {
    font-family: var(--font-title);
    font-size: 3.5rem;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;

    color: #545454;
}

.box-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 6rem;
}

/* ---------------------------- */
.arrow-left {
    width: 52px;
    height: 52px;

    background: url(../../assets/icons/Arrow-left.svg) center no-repeat;

    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.arrow-left:hover {
    background-color: var(--color-main);
    transition: all 0.2s linear;
}

/* ----------------------------- */
.box-slider {
    display: flex;
    column-gap: 9rem;
}

.card-pet {
    width: 27rem;
    height: 43.5rem;

    background: #FAFAFA;
    border-radius: 9px;

    transition: all 0.4s linear;
}

.card-pet:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 5px 2px var(--color-main);

}

.card-pet:hover .btn-pet {
    background: var(--color-main);
    transition: all 0.4s linear;
}

.name-pet {
    font-family: var(--font-title);
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.06em;

    margin: 3rem 0;

    color: #545454;
}

.btn-pet {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-title);
    font-size: 1.7rem;
    letter-spacing: 0.06em;

    margin: 0 auto;
    width: 18.8rem;
    height: 5.2rem;

    border: 2px solid #F1CDB3;
    border-radius: 100px;

    color: #292929;
}

/* -------------------------- */
.arrow-right {
    width: 52px;
    height: 52px;

    background: url(../../assets/icons/Arrow-right.svg) center no-repeat;

    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.arrow-right:hover {
    background-color: var(--color-main);
    transition: all 0.2s linear;
}

/* --------------------------- */
.btn-next-page {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-title);
    font-size: 1.7rem;
    letter-spacing: 0.06em;

    margin: 6rem auto 0;
    width: 26.1rem;
    height: 5.2rem;

    background: var(--color-main);
    border-radius: 100px;

    color: #292929;
}

.btn-next-page:hover {
    transition: all 0.2s linear;
    background: #FDDCC4;
}

/*===================== block-help ====================*/

.block-help {
    width: 100%;
    background-color: #FFFFFF;
}

.container-help {
    max-width: 128rem;
    height: 61.1rem;

    margin: 0 auto;
    padding: 8rem 4rem 0;
}

.title-help {
    font-family: var(--font-title);
    font-size: 3.5rem;
    text-align: center;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: #545454;
}

.box-inner-help {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    row-gap: 5rem;
    column-gap: 12rem;

    max-width: 102.6rem;
    height: 28.1rem;
    margin: 6rem auto 0;
}

.item-help>img {
    display: block;
    margin: 0 auto;
}

.text-help {
    font-family: var(--font-title);
    font-size: 2rem;
    letter-spacing: 0.06em;
    text-align: end;

    margin-top: 3rem;
    color: #545454;
}

/*==================== block-donation ===================*/

.block-donation {
    width: 100%;
    background-color: #F6F6F6;
}

.container-donation {
    max-width: 128rem;
    height: 46.2rem;

    margin: 0 auto;
    padding: 8rem 18.2rem 0;
}

.box-inner-donation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description-donation {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    max-width: 38rem;
    height: 28.2rem;
}

.title-donation {
    font-family: var(--font-title);
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: #545454;
}

.subtitle-donation {
    font-family: var(--font-title);
    font-size: 1.5rem;
    letter-spacing: 0.06em;

    color: #545454;
}

.bank-account-donation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main);

    width: 34.9rem;
    height: 4.3rem;
    border-radius: 9px;
}

.bank-account-donation:hover {
    background-color: #FDDCC4;
    transition: all 0.4s linear;
}

.account-donation {
    font-family: var(--font-title);
    font-size: 2rem;
    letter-spacing: 0.06em;

    color: #545454;
    padding-left: 15px;
}

.text-donation {
    font-family: var(--font-text);
    font-style: italic;
    font-size: 1.2rem;
    line-height: 18px;

    color: #B2B2B2;
}

/*==================== footer ===================*/

.footer {
    width: 100%;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%,
            #513D2F 0%, #1A1A1C 100%);
}

.container-footer {
    max-width: 128rem;
    height: 35rem;

    margin: 0 auto;
    padding: 4rem 4rem 0;
}

.box-inner-footer {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 100%;
}

.box-contact-footer {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;

    margin-top: 1.6rem;
    width: 28rem;
    height: 23.4rem;
}

.contact-title-footer {
    font-family: var(--font-title);
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.box-address-footer {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    margin-top: 1.6rem;
    width: 30.2rem;
    height: 23.4rem;
}

.address-title-footer {
    font-family: var(--font-title);
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}


.text-footer {
    font-family: var(--font-title);
    font-size: 2rem;
    line-height: 105%;
    letter-spacing: 0.06em;

    color: var(--color-main);
    padding-left: 1.5rem;
}

.local-text-footer {
    font-family: var(--font-title);
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: 0.06em;

    color: var(--color-main);
    padding-left: 1.7rem;
}

.local-text-footer>span {
    padding-left: 4rem;
}